<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>投票</title>
</head>
<body>
    <h2>投票信息页 —— {{question}}</h2>
    <p><a href="{% url 'vote:index' %}">返回首页</a></p><br>
    <form action="{% url 'vote:choice' question.id %}" method="post">
        <label for="choice">投票选项</label><br><br>
        {% for choice in question.choice_set.all %}
        <input type="radio" id="choice" name="choice" value="{{choice.id}}">{{choice}}<br><br>
        {% endfor %}
        <input type="submit" value="提交">
    </form>
</body>
</html>