<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <div class="container">
        <h2>首页</h2>
        <ul>
        {% if questions %}
            {% for question in questions %}
            <li><a href="{% url 'vote:choice' question.id %}">{{forloop.counter}}.{{question.content}}</a></li>
            {% empty %}
            <li>问题列表为空</li>
            {% endfor %}
        {% else %}
            <li>没有问题可以投票</li>
        {% endif %}
        </ul>
    </div>
</body>
</html>