<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>投票系统 - 登录</title>
	<link rel="stylesheet" href="../static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
	<script src="../../static/js/jQuery/jquery-2.1.4.min.js"></script>
</head>
<body>
	<div class="container">
		<br>
		<br>
		<div style="margin: auto; width: 360px">
			<h2>欢迎进入登录页面</h2>
			<p>请根据提示进行登录...</p>
			<br>
			<br>
			<form action="{% url 'poll:login' %}" method="post">
				{% csrf_token %}
				<p>
					账号：<input type="text" name="username">
				</p>
				<p>
					密码：<input type="password" name="password">
				</p>
				<p>
					验证码：<img src="{% url 'poll:verify' %}" class="img" height="40px" width="100px" alt=""><br>
					<input type="text" name="verify">
				</p>
				<br>
				<p style="margin-left: 100px">
					<input type="submit" value="登录" class="btn btn-danger">
				</p>
			</form>
			<br>
			<div>
				<a href="{% url 'poll:index' %}" style="margin-left: 60px">返回首页？</a>
				<a href="{% url 'poll:regist' %}" style="margin-left: 20px">注册</a>
			</div>
			<br>
		</div>
	</div>

	<script>
		$(function(){
			$(".img").click(function(){
				$(this).attr("src", "/verify/?t=" + new Date().getTime())
			})
		})
	</script>
</body>
</html>
