{% extends 'shiyanlou/base.html' %}

{% block paths %}
<li class="active">
    <a href="{% url 'shiyanlou:paths' %}">路径</a>
</li>
{% endblock %}


{% block content %}

<div class="container layout layout-margin-top">

    <ol class="breadcrumb">
        <li><a href="/paths/">学习路径</a></li>
        <li class="active"><a href="#">{{ pathcategory.title }}</a></li>
    </ol>

    <div class="row">
        <div class="col-md-9 layout-body">

            <div class="content" style="padding:0px">
                <div class="path-description" style="margin:0px">
                    <div class="path-desc-top clearfix"
                         style="background: url('../../../static/img/1471513740139.png') no-repeat;background-size: cover;">
                        <div class="name-total-box clearfix">
                            <div class="col-md-6 col-sm-6 col-md-offset-1 path-name">
                                <h4>{{ pathcategory.title }}</h4>
                            </div>
                            <div class="col-md-3 col-sm-6 col-md-offset-1 path-total-courses">
                                <span class="total-courses-box">课程 <span class="num">{{ pathcategory.pathcourse_set.count }}</span></span>
                            </div>
                        </div>
                        <div class="col-md-10 col-md-offset-1 path-desc-text">{{ pathcategory.desc }}</div>
                    </div>
                    <div class="path-desc-btm">
                        <div class="col-sm-12 col-md-4 clearfix learn-time-div">
                            <div class="col-md-12 text-left need-learn-time">预计需要 <span class="num">30</span> 小时学习</div>
                        </div>
                        <div class="col-sm-12 col-md-8  clearfix text-right" style="padding-top:0px">
                            <div class="col-xs-12">

                                <a class="btn btn-path-operation btn-join-path" data-sign="signin" href="#sign-modal"
                                   data-toggle="modal">加入路径</a>

                                <p style="font-size:10px;margin-top:5px">加入获得路径课程更新提醒</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#path-details" aria-controls="path-details" role="tab" data-toggle="tab">路径详情</a>
                    </li>
                    <li role="presentation">
                        <a href="#path-comments" aria-controls="path-comments" role="tab" data-stat="path_comments"
                           data-toggle="tab">路径评论(<span class="comments-count">0</span>)</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane path-details active" id="path-details">
                        <div class="details-box">
                            <a href="/courses/63" class="btn start-btn">开始学习</a>


                            <div class="clearfix text-center path-title-box" style="width: 290px; height:30px;
                            margin: 100px auto; overflow: hidden;">
                                <!--<span class="line hidden-xs"></span>-->
                                {% for course in pathcourse %}
                                {% if course.state.name == "1" %}
                                <span>{{ course.state.desc }}</span>
                                {% endif %}
                                {% endfor %}
                                <!--<span class="line hidden-xs"></span>-->
                            </div>
                            <div class="row">

                                {% for course in pathcourse %}
                                {% if course.state.name == "1" %}
                                <div class="col-md-4 col-sm-6  course">
                                    <a class="course-box" href="#">
                                        <div class="sign-box">

                                            <i class="fa fa-star-o course-follow pull-right"
                                               data-follow-url="/courses/63/follow"
                                               data-unfollow-url="/courses/63/unfollow" style="display:none"></i>

                                        </div>
                                        <div class="course-img">

                                            <img alt="{{ course.title }}" src="/media/{{ course.img }}">

                                        </div>

                                        <div class="course-body">
                                            <span class="course-title" data-toggle="tooltip" data-placement="bottom"

                                                title="{{ course.title }}">{{ course.title }}</span>

                                        </div>
                                        <div class="course-footer">
                                            <span class="course-per-num pull-left">
                                                <i class="fa fa-users"></i>
                                                {{ course.views }}
                                            </span>

                                        </div>
                                    </a>
                                </div>
                                {% endif %}
                                {% endfor %}

                            </div>

                            <div class="clearfix text-center path-title-box" style="width: 290px; height:30px;
                            margin: 100px auto; overflow: hidden;">
                                <!--<span class="line hidden-xs"></span>-->
                                {% for course in pathcourse %}
                                {% if course.state.name == "2" %}
                                <span>{{ course.state.desc }}</span>
                                {% endif %}
                                {% endfor %}
                                <!--<span class="line hidden-xs"></span>-->
                            </div>
                            <div class="row">

                                {% for course in pathcourse %}
                                {% if course.state.name == "2" %}
                                <div class="col-md-4 col-sm-6  course">
                                    <a class="course-box" href="#">
                                        <div class="sign-box">

                                            <i class="fa fa-star-o course-follow pull-right"
                                               data-follow-url="/courses/20/follow"
                                               data-unfollow-url="/courses/20/unfollow" style="display:none"></i>

                                        </div>
                                        <div class="course-img">

                                            <img alt="{{ course.title }}" src="/media/{{ course.img }}">

                                        </div>

                                        <div class="course-body">
                                            <span class="course-title" data-toggle="tooltip" data-placement="bottom"
                                                  title="{{ course.title }}">{{ course.title }}</span>
                                        </div>
                                        <div class="course-footer">
                                            <span class="course-per-num pull-left">
                                                <i class="fa fa-users"></i>

                                                {{ course.views }}
                                            </span>
                                        </div>
                                    </a>
                                </div>
                                {% endif %}
                                {% endfor %}

                            </div>

                            <div class="clearfix text-center path-title-box" style="width: 290px; height:30px;
                            margin: 100px auto; overflow: hidden;">
                                <!--<span class="line hidden-xs"></span>-->
                                {% for course in pathcourse %}
                                {% if course.state.name == "3" %}
                                <span>{{ course.state.desc }}</span>
                                {% endif %}
                                {% endfor %}
                                <!--<span class="line hidden-xs"></span>-->
                            </div>
                            <div class="row">

                                {% for course in pathcourse %}
                                {% if course.state.name == "3" %}
                                <div class="col-md-4 col-sm-6  course">
                                    <a class="course-box" href="#">
                                        <div class="sign-box">


                                            <i class="fa fa-star-o course-follow pull-right"
                                               data-follow-url="/courses/75/follow"
                                               data-unfollow-url="/courses/75/unfollow" style="display:none"></i>

                                        </div>
                                        <div class="course-img">

                                            <img alt="{{ course.title }}" src="/media/{{ course.img }}">

                                        </div>

                                        <div class="course-body">
                                            <span class="course-title" data-toggle="tooltip" data-placement="bottom"
                                                  title="{{ course.title }}">{{ course.title }}</span>
                                        </div>
                                        <div class="course-footer">
                                            <span class="course-per-num pull-left">
                                                <i class="fa fa-users"></i>

                                                {{ course.views }}

                                            </span>


                                        </div>
                                    </a>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>

                            <div class="clearfix text-center path-title-box" style="width: 290px; height:30px;
                            margin: 100px auto; overflow: hidden;">
                                <!--<span class="line hidden-xs"></span>-->
                                {% for course in pathcourse %}
                                {% if course.state.name == "4" %}
                                <span>{{ course.state.desc }}</span>
                                {% endif %}
                                {% endfor %}
                                <!--<span class="line hidden-xs"></span>-->
                            </div>
                            <div class="row">

                                {% for course in pathcourse %}
                                {% if course.state.name == "4" %}
                                <div class="col-md-4 col-sm-6  course">
                                    <a class="course-box" href="#">
                                        <div class="sign-box">


                                            <i class="fa fa-star-o course-follow pull-right"
                                               data-follow-url="/courses/75/follow"
                                               data-unfollow-url="/courses/75/unfollow" style="display:none"></i>

                                        </div>
                                        <div class="course-img">

                                            <img alt="{{ course.title }}" src="/media/{{ course.img }}">

                                        </div>

                                        <div class="course-body">
                                            <span class="course-title" data-toggle="tooltip" data-placement="bottom"
                                                  title="{{ course.title }}">{{ course.title }}</span>
                                        </div>
                                        <div class="course-footer">
                                            <span class="course-per-num pull-left">
                                                <i class="fa fa-users"></i>

                                                {{ course.views }}

                                            </span>


                                        </div>
                                    </a>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>

                            <div class="btn end-pin">完成学习</div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane path-comment" id="path-comments">
                        <div class="comment-box">
                            <div class="comment-form">

                                <div class="comment-form-unlogin">
                                    请
                                    <a href="#sign-modal" data-toggle="modal" data-sign="signin"> 登录 </a>
                                    后发表评论
                                </div>

                            </div>
                            <div class="comment-title">最新评论</div>
                            <div class="comment-list"></div>
                            <div class="pagination-container"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-3 layout-side">


            <div class="panel panel-default panel-userinfo">
                <div class="panel-body body-userinfo">
                    <div class="media userinfo-header">
                        <div class="media-left">
                            <div class="user-avatar">

                                <a class="avatar" href="#sign-modal" data-toggle="modal" data-sign="signin">
                                    <img class="circle" src="/static/img/logo-grey.png">
                                </a>

                            </div>
                        </div>
                        <div class="media-body">

                            <span class="media-heading username">欢迎来到实验楼</span>
                            <p class="vip-remain">做实验，学编程</p>

                        </div>
                    </div>

                    <div class="row userinfo-data">

                        <hr>
                        <div class="btn-group-lr">
                            <a href="#sign-modal" type="button" class="btn btn-success col-md-5 col-xs-6 login-btn"
                               data-toggle="modal" data-sign="signin">登录</a>
                            <a href="#sign-modal" type="button"
                               class="btn btn-success col-md-5 col-xs-6 col-md-offset-1 register-btn"
                               data-toggle="modal" data-sign="signup">注册</a>
                        </div>

                    </div>

                    <div class="userinfo-footer row">
                        <div class="col-md-6 col-xs-6 pos-left">

                            <a href="#sign-modal" data-toggle="modal" data-sign="signin"><span
                                    class="glyphicon glyphicon-bookmark"></span> 加入私有课</a>

                        </div>
                        <div class="col-md-6 col-xs-6 pos-right">
                            <a href="/contribute" target="_blank"><span class="glyphicon glyphicon-send"></span>
                                我要投稿</a>
                        </div>

                        <div id="join-private-course" class="modal fade words-ctrl" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">加入私有课</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div style="margin:15px 0; font:16px;">输入教师提供的私有课程码可以加入教师的私有课程。</div>
                                        <form id="private-course-form" method="POST" action="/courses/join">
                                            <div class="form-group">
                                                <label for="code">邀请码</label>
                                                <input class="form-control" id="code" name="code" type="text" value="">
                                                <input name="_csrf_token" type=hidden
                                                       value="1483796689##5dfe74a8992e829e903291b65bbbdabafa60f4e1">
                                            </div>
                                        </form>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                        <button type="button" class="btn btn-primary"
                                                onclick="document.getElementById('private-course-form').submit();">确定
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="sidebox">

                <div class="sidebox-header">
                    <h4 class="sidebox-title">最热路径</h4>
                </div>
                <div class="sidebox-body course-content side-list-body">
                    {% for course in hotpath %}
                    <a href="{% url 'shiyanlou:show' course.id %}"><img style="width:25px;height:25px" src="/media/{{ course.img }}"> {{ course.title }}</a>
                    {% endfor %}
                </div>

            </div>

            <div class="side-image side-qrcode">
                <img src="../../../static/img/ShiyanlouQRCode.png">
                <div class="side-image-text">关注公众号，手机看教程</div>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="invite-user" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title">邀请好友，双方都可获赠实验豆！</h4>
            </div>
            <div class="modal-body">

                <p><h4><a href="#sign-modal" data-toggle="modal" data-sign="signin">登录</a>后邀请好友注册，您和好友将分别获赠3个实验豆！
            </h4></p>

                <div id="msg-modal"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="flash-message" tabindex="-1" role="dialog">
    <div class="modal-dialog" rolw="document">
    </div>
</div>
<div class="modal fade" id="modal-message" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title">注意</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary confirm" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="sign-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <button type="button" class="close-modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#signin-form22" aria-controls="signin-form22" role="tab" data-toggle="tab">登录</a>
                    </li>
                    <li role="presentation">
                        <a href="#signup-form11" aria-controls="signup-form11" role="tab" data-toggle="tab">注册</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="signin-form22">
                        <form action="{% url 'shiyanlou:login' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-envelope" style="margin:0;"></i>
                                    </div>
                                    <input type="text" name="nickname" class="form-control" placeholder="请输入昵称">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-envelope" style="margin:0;"></i>
                                    </div>
                                    <input type="email" name="login" class="form-control" placeholder="请输入邮箱">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-lock" style="margin:0;"></i>
                                    </div>
                                    <input type="password" name="password" class="form-control" placeholder="请输入密码">
                                </div>
                            </div>
                            <div class="form-inline verify-code-item" style="display:none;">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" name="captcha_v" class="form-control" placeholder="请输入验证码">
                                    </div>
                                </div>
                                <img class="verify-code" src="" source="https://www.shiyanlou.com/captcha.gif">
                            </div>
                            <div class="form-group remember-login">
                                <input name="remember" type="checkbox" value="y"> 下次自动登录
                                <a class="pull-right" href="../reset_password/index.html">忘记密码？</a>
                            </div>
                            <div class="form-group">
                                <input class="btn btn-primary" name="submit" type="submit" value="进入实验楼">
                            </div>
                            <div class="form-group widget-signin">
                                <span>快速登录</span>
                                <a href="/auth/qq?next="><i class="fa fa-qq"></i></a>
                                <a href="/auth/weibo?next="><i class="fa fa-weibo"></i></a>
                                <a href="/auth/weixin?next="><i class="fa fa-weixin"></i></a>
                                <a href="/auth/github?next="><i class="fa fa-github"></i></a>
                                <a href="/auth/renren?next="><i class="fa fa-renren"></i></a>
                            </div>
                            <div class="form-group error-msg">
                                <div class="alert alert-danger" role="alert"></div>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="signup-form11">
                        <form action="{% url 'shiyanlou:regist' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-envelope" style="margin:0;"></i>
                                    </div>
                                    <input type="text" name="nickname" class="form-control" placeholder="请输入昵称">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-envelope" style="margin:0;"></i>
                                    </div>
                                    <input type="email" name="email" class="form-control" placeholder="请输入邮箱">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-lock" style="margin:0;"></i>
                                    </div>
                                    <input type="password" name="password" class="form-control" placeholder="请输入密码">
                                </div>
                            </div>
                            <div class="form-inline">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" name="captcha_v" class="form-control" placeholder="请输入验证码">
                                    </div>
                                </div>
                                <img class="verify-code" src="" source="https://www.shiyanlou.com/captcha.gif">
                            </div>
                            <div class="form-group">
                                <input class="btn btn-primary" name="submit" type="submit" value="注册">
                            </div>
                            <div class="form-group agree-privacy">
                                注册表示您已经同意我们的<a href="../privacy/index.html" target="_blank">隐私条款</a>
                            </div>
                            <div class="form-group widget-signup">
                                <span>快速注册</span>
                                <a href="/auth/qq?next="><i class="fa fa-qq"></i></a>
                                <a href="/auth/weibo?next="><i class="fa fa-weibo"></i></a>
                                <a href="/auth/weixin?next="><i class="fa fa-weixin"></i></a>
                                <a href="/auth/github?next="><i class="fa fa-github"></i></a>
                                <a href="/auth/renren?next="><i class="fa fa-renren"></i></a>
                            </div>
                            <div class="form-group error-msg">
                                <div class="alert alert-danger" role="alert"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="base-data"

     data-flash="false"

     data-is-login=false

     data-is-jwt=true
     data-socket-url="wss://comet.shiyanlou.com"
     data-msg-user=""
     data-msg-system=""
></div>

<script src="/static/app/dest/lib/lib.js?=2016121272249"></script>
<script src="/static/static/jquery/2.2.4/jquery.min.js"></script>
<script src="/static/static/ace/1.2.5/ace.js"></script>
<script src="/static/static/aliyun/aliyun-oss-sdk-4.3.0.min.js"></script>
<script src="/static/static/highlight.js/9.8.0/highlight.min.js"></script>
<script src="/static/static/jspdf/1.2.61/jspdf.min.js"></script>
<script src="/static/static/plupload/2.1.9/js/plupload.full.min.js"></script>
<script src="/static/static/zeroclipboard/2.2.0/ZeroClipboard.min.js"></script>
<script src="/static/static/videojs/video.min.js"></script>
<script src="/static/static/bootstrap-tour/0.11.0/js/bootstrap-tour.min.js"></script>
<script src="/static/static/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>
<script src="/static/static/bootstrap-table/1.11.0/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/static/static/bootstrap-table/1.11.0/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

<script src="/static/static/ravenjs/3.7.0/raven.min.js"></script>
<script>
    Raven.config('https://bc3878b7ed0a4468a65390bd79e6e73f@sentry.shiyanlou.com/5', {
        release: '3.12.13'
    }).install();
</script>


<div id="jinja-data"

     data-user-id="0"
     data-user-in-path="false"

     data-join-path-url="/jobs/9/join"
     data-leave-path-url="/jobs/9/leave"
     data-path-comment-url="/jobs/9/comment"
     data-user-logined="false"
></div>
<script src="/static/app/dest/path/path.js?=2016121272249"></script>

{% endblock %}
