{% extends 'blog/base.html' %}

{% block left %}
<div class="content-body">
	<div class="container">
		<div class="row">
			<main class="col-md-8">
				<article class="post post-{{ article.id }}">
					<header class="entry-header">
						<h1 class="entry-title">{{ article.title }}</h1>
						<div class="entry-meta">
							<span class="post-category"><a href="#">{{ article.category.title }}</a></span>
							<span class="post-date"><a href="#"><time class="entry-date" datetime=
									"2012-11-09T23:15:57+00:00">{{ article.create_time }}</time></a></span>
							<span class="post-author"><a href="#">{{ article.author.username }}</a></span>
							<span class="comments-link"><a href="#">{{ article.comment_set.counter }} 评论</a></span>
							<span class="views-count"><a href="#">{{ article.views }} 阅读</a></span>
						</div>
					</header>
					<div class="entry-content clearfix">
						<p>{{ article.body|safe }}</p>
					</div>
				</article>
				<section class="comment-area" id="comment-area">
					<hr>
					<h3>发表评论</h3>
					{% comment %}
					<form action="{% url 'blog:single' article.id %}" method="post" class="comment-form">
						{% csrf_token %}
						<div class="row">
							<div class="col-md-4">
								<label for="id_name">名字：</label>
								{{ cf.name }}
							</div>
							<div class="col-md-4">
								<label for="id_email">邮箱：</label>
								{{ cf.email }}
							</div>
							<div class="col-md-4">
								<label for="id_url">网址：</label>
								{{ cf.url }}
							</div>
							<div class="col-md-12">
								<label for="id_comment">评论：</label>
								{{ cf.content }}
								<button type="submit" class="comment-btn">发表</button>
							</div>
						</div> <!-- row -->
					</form>
					{% endcomment %}
					<div class="comment-form">
						<div class="row">
							<div class="col-md-4">
								<label for="id_name">名字：</label>
								{{ cf.name }}
							</div>
							<div class="col-md-4">
								<label for="id_email">邮箱：</label>
								{{ cf.email }}
							</div>
							<div class="col-md-4">
								<label for="id_url">网址：</label>
								{{ cf.url }}
							</div>
							<div class="col-md-12">
								<label for="id_comment">评论：</label>
								{{ cf.content }}
								<button type="submit" class="comment-btn" id="commit-btn">发表</button>
							</div>
						</div> <!-- row -->
					</div>

					<div class="comment-list-panel">
						<h3>评论列表，共 <span id="count">{{ article.comment_set.count }}</span> 条评论</h3>
						<ul class="comment-list list-unstyled">
							{% for a in article.comment_set.all %}
							<li class="comment-item">
								<span class="nickname">{{ a.name }}</span>
								<time class="submit-date" datetime="2012-11-09T23:15:57+00:00">{{ a.create_time }}</time>
								<div class="text">{{ a.content }}</div>
							</li>
							{% endfor %}
						</ul>
					</div>
				</section>
			</main>
		</div>
	</div>
</div>

<script>
	$(function(){
		$("#commit-btn").click(function(){
			$.ajax({
				url: "{% url 'comment:addcomment' article.id %}",
				type: "post",
				data: {
					"name": $("#id_name").val(),
					"email": $("#id_email").val(),
					"url": $("#id_url").val(),
					"content": $("#id_content").val(),
					"csrfmiddlewaretoken": "{{ csrf_token }}",
				},
				success: function(data){
					$("#id_name").val("");
					$("#id_email").val("");
					$("#id_url").val("");
					$("#id_content").val("");
					$(".comment-list").append('<li class="comment-item">' +
								'<span class="nickname">' + data.name + '</span>'+
								'<time class="submit-date" datetime="2012-11-09T23:15:57+00:00">' + data.create_time
								+ '</time>'+ '<div class="text">' +data.content + '</div>' + '</li>'
					)
				}
			})
		})
	})
</script>

{% endblock %}



